html {
  background-image: url(tech-background.webp);
  background-size: cover;
}
body {
  width: 600px;
  margin-top: 25px;
  background-color: white;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto;
  opacity: 0.9;
}

img {
  width: 570px;
}
#red {
  color: #f15c2a;
}

#blue {
  color: #1774bb;
}

#yellow {
  color: #fcb041;
}

h1,
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h2 {
  margin-top: 50px;
}
p,
ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Picture {
  width: 100px;
}

a {
  color: navy;
}
a:hover {
  font-weight: bold;
}
